/venv
venv/
.venv/

src/__pycache__/

src/agents/ppo/__pycache__/
src/agents/__pycache__/
src/core/__pycache__/
src/envs/__pycache__/
src\agents\dqn\__pycache__/
src\agents\sac\__pycache__/
src\scripts\__pycache__/

/logs
/old_logs
/Old

.agent_state
.start_trigger
lua/v2.0/generated_config.lua
lua/testing.lua
lua/test2.lua
/src/testing_auto_curriculum

.github/


.gemini/
gha-creds-*.json

GEMINI.md

/src/agents/dqn/__pycache__
/src/agents/sac/__pycache__
/src/scripts/__pycache__
/src/agents/sac/__pycache__
/src/agents/sac/__pycache__
/src/agents/pbt/__pycache__
/src/agents/league/__pycache__
/code_testing/__pycache__
/.superpowers
code_testing/test_telemetry_dashboard.py
/docs
code_testing/test_telemetry_dashboard.py
/models/production
/models/tuning
.telemetry.json
