/venv
venv/
.venv/

**/__pycache__/
*.pyc

/logs
/old_logs
/Old

.agent_state
.start_trigger
.telemetry.json
.stop_training

lua/v2.0/generated_config.lua
lua/testing.lua
lua/test2.lua

/models/production
/models/tuning

*.State
*.state

.github/
.gemini/
.superpowers/
gha-creds-*.json
/.agents
/docs/superpowers
/code_testing/pytest
